{% extends "login_base.html" %}
{% block content %} 

<div style="padding: 80px 0;" >
<form class="form-horizontal" action="" method="POST">
    <fieldset>
      <div id="legend" class="">
        <legend class="">New Calf</legend>
      </div>
    

    <div class="control-group">

         <!--  Text input -->
          
          <div class="controls">
            <input type="text" placeholder="New calf name" class="input-xlarge" name="calfname">
            <input type="text" placeholder="Belongs to farm" class="input-xlarge" name="farmname">
          </div>
        </div>

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <input type="submit" class="btn btn-success" name="action" ></input>
<!--             <button class="btn btn-success">Submit</button> -->
          </div>
        </div>

    </fieldset>
  </form>
  

</div>  
{% endblock %}
