{% extends "login_base.html" %}
{% block content %}
<div style="padding: 80px 0;" >
<!-- Default panel contents -->
	
	<div class="list-group">
		<li href="#" class="list-group-item active"> 
		Farms 
		</li>
		{% for farm in farms %}
			<a href="farms/{{ farm['attributes']['name'] }}" class="list-group-item">{{ farm['attributes']['name'] }}</a>
		{% endfor %}

	</div>
	<div style="float: right;">
	  <a href="/addfarms" class="button button-glow button-rounded button-caution">Add</a>
	  <a href="#" class="button button-glow button-rounded button-royal">Delete</a>
	</div>
</div>
{% endblock %}