<!-- {%extends "login_base.html"%} -->
{%block content%}
<script type="text/javascript">
	function test_func(data){
		document.write("<br><br><br><br><br><br><br><br><br><br><br><br>");
		var dataObj = JSON.parse(data)['data'][0]['attributes']['body'];
		var head = dataObj['head'];
		document.write("<ul><li>" + head);
		var childrens = dataObj[head]['children'];
		children(dataObj,head,0);
		document.write("</li></ul>");
	}
	function children(data,head,depth){
		var childrens = data[head]['children'];
		if (childrens.length>0){
			document.write("<ul>");
			for(var i =0;i<childrens.length;i++){
				document.write("<li>" + childrens[i]);
					children(data, childrens[i],depth++);
				document.write("</li>")
			}
			document.write("</ul>");
		}
	}
	test_func({{data|safe}});
</script>
{%endblock%}