{% extends "login_base.html" %}
{% block content %}
<div style="padding:80px 0;">
<script type="text/javascript">
	function create_Tree(data){
		var dataTree = data['body'];
		var head = dataTree['head'];

		//Format html to theme
		document.write('<div class="list-group"><div class="list-group-item active" id="title">'+data['title']+'</div>')

		//Create tree
		document.write('<div class="tree list-group-item" id="chart">');
		document.write("<p id='treatment_id' class='hidden'>"+data['id']+"<p>");

		// Head id
		document.write("<ul id = 'root'><li id="+head+"><p>");

		//Grabbing children from head and creating tree
		var childrens = dataTree[head]['children'];
		children(dataTree,head);
		document.write("</p></li></ul>");

		//Creating save button
		var save_button =document.createElement("INPUT");
		save_button.type = "button";
		save_button.onclick = function(){save()};
		save_button.value = "Save";
		document.write("</div>");
		document.getElementById("chart").appendChild(save_button);
		document.write('</div>');
	}

	// Function to recrusively create tree from json file
	function children(data,head){
		//Child info
		var childrens = data[head]['children'];
		document.write("<p id='"+head+"_Description'>"+data[head]['description']+"</p>");
		document.write("<p id='"+head+"_Wait' class='hidden'>"+data[head]['wait']+"</p>");
		document.write("<p id='"+head+"_Icon' class='hidden'>"+data[head]['icon']+"</p>");

		//Buttons
		document.write("<input type=button id="+head+"_Add"+ " class ='btn btn-primary btn-xs' value='+' onclick=add('"+head+"')></input>")
		document.write("<input type=button id="+head+"_Delete"+ " class ='btn btn-danger btn-xs' value='x' onclick=removeBranch('"+head+"')></input>")

		//Create childrens
		if (childrens.length>0){
			document.write("<ul id = "+head+"_Children>");
			for(var i =0;i<childrens.length;i++){
				// Display child id (Probably need to change css if you want to change way this is implemented)
				document.write("<li id = "+ childrens[i]+"><p class='un-hidden'>" + childrens[i]);
				children(data, childrens[i]);
				document.write("</p></li>")
			}

			document.write("</ul>");
		}
	}

	// Displays Modal to add child
	//TODO: Clean up and add other buttons and change implementation
	function add(head){
		var break_element= document.createElement("BR");
		var modal = document.getElementById("modal");
		var modal_header = document.getElementById("modal-header")
		var modal_body = document.getElementById("modal-body");
		var add_button = document.getElementById(head+"_Add");
		var span = document.getElementsByClassName("close")[0];
		add_button.onclick = function(){
			modal.style.display = "block";
			modal_header.innerHTML = "Adding child to '"+ document.getElementById(head+"_Description").innerHTML +"'";



			var child_id=gen_uuid();
			var child = document.createElement("LI");
			child.id = child_id;
			var child_descript=document.createElement("INPUT");
			child_descript.type="text";
			child_descript.classList.add("text-info");
			child_descript.id=child_id+"_Description";
			child_descript.placeholder="Description";
			var description_text = document.createElement("SPAN");
			description_text.classList.add("text-info");
			description_text.innerHTML="Description: ";
			modal_body.appendChild(description_text);
			modal_body.appendChild(child_descript);

			modal_body.appendChild(document.createElement("P"));
			var child_wait=document.createElement("INPUT");
			child_wait.type="text";
			child_wait.classList.add("text-info");
			child_wait.id=child_id+"_Wait";
			child_wait.placeholder="Wait";
			child_wait.defaultValue = 0;
			var wait_text = document.createElement("SPAN");
			wait_text.classList.add("text-info");
			wait_text.innerHTML="Wait: ";
			modal_body.appendChild(wait_text);
			modal_body.appendChild(child_wait);


			modal_body.appendChild(document.createElement("P"));
			var submit_button = document.createElement("INPUT");
			submit_button.value = "submit";
			submit_button.type = "button";
			submit_button.classList.add("text-info");
			submit_button.id = child_id+"_Submit";
			submit_button.onclick=function(){addNode(head,child_id)};
			modal_body.appendChild(break_element);
			modal_body.appendChild(submit_button);

			// var have_children = document.getElementById(head+"_Children");
			// if(!have_children){
			// 	var child_list = document.createElement("UL");
			// 	child_list.id = head+"_Children";
			// 	document.getElementById(head).appendChild(child_list);
			// 	have_children = document.getElementById(head+"_Children");
			// }
			// have_children.appendChild(child);

			}
		span.onclick = function(){
			modal.style.display = "none";
		}
		window.onclick = function(event){
			if(event.target == modal){
				modal.style.display = "none";
			}
		}
	}

	// Add's child to html
	function addNode(head,child_id){
		var head_children = document.getElementById(head+"_Children");
		if(!head_children){
			var child_list = document.createElement("UL");
			child_list.id = head+"_Children";
			document.getElementById(head).appendChild(child_list);
			head_children = document.getElementById(head+"_Children");
		}

		var child_descript = document.getElementById(child_id+"_Description").value;
		var child_wait = document.getElementById(child_id +"_Wait").value;
		var child_icon = null;

		var child = document.createElement("LI");
		child.id = child_id;

		// hide's child's id;
		var id_element = document.createElement("P");
		id_element.innerHTML = child_id;
		id_element.classList.add("hidden");
		child.appendChild(id_element);


		var descript_element = document.createElement("P");
		descript_element.id = child_id+"_Description";
		descript_element.innerHTML = child_descript;
		child.appendChild(descript_element);

		var wait_element = document.createElement("P");
		wait_element.id = child_id + "_Wait";
		wait_element.innerHTML = child_wait;
		wait_element.classList.add("hidden");
		child.appendChild(wait_element);

		var icon_element = document.createElement("P");
		icon_element.id = child_id +"_Icon";
		icon_element.innerHTML = child_icon;
		icon_element.classList.add("hidden");
		child.appendChild(icon_element);

		var add_button = document.createElement("INPUT");
		add_button.type = "button";
		add_button.id = child_id+"_Add";
		add_button.value = "+";
		add_button.classList.add("btn","btn-primary","btn-xs");
		add_button.onclick = function(){add(child_id)};
		child.appendChild(add_button);

		var delete_button = document.createElement("INPUT");
		delete_button.type = "button";
		delete_button.id = child_id+"_Delete";
		delete_button.value = "x";
		delete_button.classList.add("btn","btn-danger","btn-xs");
		delete_button.onclick = function(){removeBranch(child_id)};
		child.appendChild(delete_button);

		head_children.appendChild(child);

		var modal_header = document.getElementById("modal-header");
		var modal_body = document.getElementById("modal-body");
		modal_header.removeChild(modal_header.firstChild);
		while(modal_body.hasChildNodes()){
			modal_body.removeChild(modal_body.firstChild);
		}
		var modal = document.getElementById("modal");
		modal.style.display = "none";

		// descript_loc =document.getElementById(child_id+"_Description");
		// descript = descript_loc.value;
		// if(descript){
		// 	document.getElementById(head+"_Children").removeChild(document.getElementById(child_id+"_Temp_Field"));
		// 	var create_child = document.createElement("LI");
		// 	create_child.id = child_id;
		// 	var id_text = document.createTextNode(child_id);
		// 	var descript_text = document.creaateTextNode(descript);
		// 	create_child.appendChild(id_text);

		// 	var break_element = document.createElement("br");
		// 	create_child.appendChild(break_element);
		// 	create_child.appendChild(descript_text);
		// 	var break_element = document.createElement("br");
		// 	create_child.appendChild(break_element);

		// }
	}

	//Remove child (delete) and branch
	//Need testing
	function removeBranch(head){
			var child_element = document.getElementById(head);
			var element_to_remove = child_element.parentNode; // list of all children's (if not root)
			if(element_to_remove.childNodes.length>1){
				element_to_remove=child_element;
				var delete_branch = confirm("Are you sure you want to delete this entire branch?");
				if(delete_branch==false){
					return;
				}
			}
			var parent_node = element_to_remove.parentNode;
			var parent_name = parent_node.nodeName;
			if(parent_name=="LI" || parent_name =="UL"){
				var parent_id = parent_node.id;
				var parent_element = document.getElementById(parent_id);
				parent_element.removeChild(element_to_remove);
			}else{ //Clear tree besides head
				var delete_head = confirm("Are you sure you want to clear the entire chart?");
				if (delete_head==false){
					return;
				}
				var child_id = child_element.id;
				element_to_remove = document.getElementById(child_id+"_Children");
				child_element.removeChild(element_to_remove);
			}
	}

	// Post mes
	function save(){
		var id = document.getElementById("treatment_id").innerHTML;
		var json = {};
		var head_id = document.getElementById("root").firstChild.id;
		json['id']=document.getElementById("treatment_id").innerHTML;
		json['title']= document.getElementById("title").innerHTML;
		json['body'] = translate_json(head_id);
		console.log(json)
		var treatment_plan_text =JSON.stringify(json)
		var send_req = new XMLHttpRequest();
		send_req.open("POST","http://localhost:5000/treatment_plans/"+id, true);
		send_req.setRequestHeader('Content-Type','application/json; charset=UTF-8');
		send_req.send(treatment_plan_text);
		send_req.onloadend=function(){
			if(send_req.status == 200){
				alert("Successfully saved");
			}else{
				alert("We have a problem...Don't know why but WE HAVE A PROBLEM");
			}
		}
	}

	//Online source
	function gen_uuid() {
    	return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    	    var r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);
        	return v.toString(16);
    	});
	}

	function translate_json(head_id){
		body = {};
		body['head']=head_id;
		var temp_json={};
		temp_json['wait']=document.getElementById(head_id+"_Wait").innerHTML;
		temp_json['description']=document.getElementById(head_id+"_Description").innerHTML;
		temp_json['icon']=document.getElementById(head_id+"_Icon").innerHTML;
		var children_array = [];
		if(document.getElementById(head_id+"_Children")){
			var child_nodes = document.getElementById(head_id+"_Children").childNodes;
			var i;
			for(i=0; i<child_nodes.length;i++){
				children_array.push(child_nodes[i].id);
				translate_child(child_nodes[i].id);
			}
			temp_json['children']=children_array;
		}
		body[head_id]=temp_json;
		return body;
	}

	function translate_child(head_id){
		var temp_json = {};
		temp_json['wait']=document.getElementById(head_id+"_Wait").innerHTML;
		temp_json['description']=document.getElementById(head_id+"_Description").innerHTML;
		temp_json['icon']=document.getElementById(head_id+"_Icon").innerHTML;
		var children_array = [];
		if(document.getElementById(head_id+"_Children")) {
			var child_nodes = document.getElementById(head_id+"_Children").childNodes;
			var i;
			for(i=0; i<child_nodes.length;i++){
				children_array.push(child_nodes[i].id);
				translate_child(child_nodes[i].id);
			}
		}
		temp_json['children']=children_array;
		body[head_id]=temp_json
	}
	create_Tree({{data|safe}});
</script>
<!-- The Modal -->
<div id="modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="list-group-item active" id="modal-header">
      <span class="close">×</span>
    </div>
    <div class="list-group-item" id="modal-body">
    </div>
  </div>

</div>
{%endblock%}